.app {
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  height: inherit;
  /* background: white; */
}
.nav {
  background: lightblue;
  height: 75px;
  display: flex;
  justify-content: left;
  padding-left: 40px;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.todo {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  height: 65px;
  padding-left: 30px;
  padding-right: 25px;
  margin-bottom: 5px;
}
.todo--item {
  margin: 8px 0;
  /* padding: 0px 0px 3px 20px; */
}
.todo--icons {
  display: flex;
  justify-content: space-between;
  width: 85px;
}
.todo > hr {
  margin: 3px 50px;
  color: #c3bbbb;
}
.todo--time {
  margin-left: 3px;
  color: #c3bbbb;
  font-weight: 500;
}
.footer {
  background: white;
  height: 75px;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.footer--design {
  display: flex;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  margin: 9.5px auto;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: lightblue;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}
.footer--design img {
  margin-top: 15px;
  width: 20px;
  height: 22px;
}
.footer--design h4 {
  margin-top: 17px;
}
.prompt {
  width: 300px;
  height: 130px;
  background: white;
  box-shadow: 0px 5px 5px whitesmoke;
  border: 5px solid whitesmoke;
  position: absolute;
  bottom: 7%;
  left: 12.5%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.taskInput {
  width: 200px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #c3bbbb;
}
.prompt--details {
  padding: 5px;
}
.prompt--details > input {
  border-radius: 5px;
  border: 1px solid #c3bbbb;
}
.prompt--details > button {
  position: relative;
  top: 5px;
  left: 25%;
}
.prompt--details > label {
  margin-left: 5px;
}
